.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__logo {
    max-width: 254px;
}

.header__lead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__title {
    max-width: 720px;
    line-height: 100px;
    font-size: 96px;
}

.header__image {
    max-width: 984px;
}


@media screen and (max-width: 768px){
    .header__title {
        max-width: 520px;
        font-size: 75px;
        line-height: 79px;
    }

    .header__image {
        max-width: 100%;
    }
}